.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    font-size: 30px;
}

.logoLink {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 100;
    transition: all 0.2s ease-out;
    font-family: "Inter" sans-serif;
}

.logoLink:hover {
    color: rgb(182, 182, 182);
}

.bold {
    font-weight: 500;
    letter-spacing: 0;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.link:hover {
    color: rgb(182, 182, 182);
}

@media screen and (max-width: 800px) {
    .link {
        font-size: 22px;
    }
}
@media screen and (max-width: 650px) {
    .logoLink {
        font-size: 26px;
    }
    .link {
        font-size: 18px;
    }
    .navbar {
        padding: 0px;
    }
}
@media screen and (max-width: 500px) {
    .links {
        gap: 10px;
    }

    .navbar {
        padding: 5% 0;
    }
}
