* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background: linear-gradient(185deg, #9a20a5, #000441 30%);
    background-repeat: no-repeat;
    color: white;
}
